
<!-- 内容部分 -->
<div class="mainContent" ng-controller="PwdActionCtrol">
	<div class="mContent wbg pdd">
		<h1>修改密码</h1>
		<div class="chPwd">
			<form name="changeForm" novalidate ng-submit="changePwdAction(ph,newpwd)" class="addressForm">
				<ul >
					<li>手机号码：{{ph}}</li>
					<li>新 密 码：<input type="password" placeholder="8-32位字符"class="txtbox w_250 newpwd" ng-model="newpwd" name="newpwd" minlength="8" maxlength="32" ng-focus ng-pattern="/^[a-zA-Z0-9\u0391-\uFFE5]{8,32}$/ " required />
						<span class="" ng-show="(changeForm.newpwd.$invalid && changeForm.newpwd.$dirty && !changeForm.newpwd.$focused) || (changeForm.newpwd.$invalid && submitted )">
							<span ng-show="changeForm.newpwd.$error.required" class="color1">* 新密码不能为空</span>
							<span ng-show="changeForm.newpwd.$error.pattern" class="color1">8-32个字符，可由中文、字母和数字组成</span>
						</span>

					</li>
					<li>再一次输入新密码：<input type="password" placeholder="8-32位字符"class="txtbox w_188 newpwd2" ng-model="newpwd2" name="newpwd2" minlength="8" maxlength="32" ng-focus ng-pattern="/^[a-zA-Z0-9\u0391-\uFFE5]{8,32}$/ " required />
						<span class="" ng-show="(changeForm.newpwd2.$invalid && changeForm.newpwd2.$dirty && !changeForm.newpwd2.$focused) || (changeForm.newpwd2.$invalid && submitted )">
							<span ng-show="changeForm.newpwd2.$error.required" class="color1">* 两次输入的新密码必须一致</span>
							<span ng-show="changeForm.newpwd2.$error.pattern" class="color1">8-32个字符，可由中文、字母和数字组成</span>
						</span>
					</li>
					<li><span class="color1 pwdTrue" ng-hide="pwdTrue">* 原密码错误请重新输入</span></li>
				</ul>
				<div class="btn_pd">
					<input type="submit" value="确认" class="btn btn-og"/>
					<input type="button" value="重 置" class="btn btn-gray" ng-click="reset()" />
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 内容部分 end -->
