.bar-header-secondary{
	line-height: 2.2rem;
}

/*联系我们*/
.payover_content {
    font-size: 0.75rem;
    padding: 0.3rem 3rem;
}  
.contact dl {
     width: 100%;
    line-height: 1.5rem;
    text-align: left;
    overflow: hidden;
}
.contact dl dt {
    float: left;
    display: inline-block;
}
.contact dl dd {
    float: left;
    display: inline-block;
    margin: 0;
}
/*图文列表*/
.list_msg{
	padding: .6rem .5rem;
	margin-bottom: .5rem;
	background: #fff;
}
.list_msg .item-content{
	font-size: .7rem;
}
 
.list_msg .item-after{
	padding: 0;
}