<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamcom.framework.backstage.mapper.TbAftersaleImageboxMapper">
  <resultMap id="BaseResultMap" type="com.chinamcom.framework.backstage.model.TbAftersaleImagebox">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="after_id" jdbcType="INTEGER" property="afterId" />
    <result column="after_code" jdbcType="VARCHAR" property="afterCode" />
    <result column="image_uri" jdbcType="VARCHAR" property="imageUri" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    id, after_id, after_code, image_uri, create_time
  </sql>
  <select id="selectByExample" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleImageboxExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_aftersale_imagebox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_aftersale_imagebox
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    delete from tb_aftersale_imagebox
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleImageboxExample">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    delete from tb_aftersale_imagebox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleImagebox">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    insert into tb_aftersale_imagebox (id, after_id, after_code, 
      image_uri, create_time)
    values (#{id,jdbcType=INTEGER}, #{afterId,jdbcType=INTEGER}, #{afterCode,jdbcType=VARCHAR}, 
      #{imageUri,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleImagebox">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    insert into tb_aftersale_imagebox
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="afterId != null">
        after_id,
      </if>
      <if test="afterCode != null">
        after_code,
      </if>
      <if test="imageUri != null">
        image_uri,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="afterId != null">
        #{afterId,jdbcType=INTEGER},
      </if>
      <if test="afterCode != null">
        #{afterCode,jdbcType=VARCHAR},
      </if>
      <if test="imageUri != null">
        #{imageUri,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleImageboxExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    select count(*) from tb_aftersale_imagebox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_imagebox
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.afterId != null">
        after_id = #{record.afterId,jdbcType=INTEGER},
      </if>
      <if test="record.afterCode != null">
        after_code = #{record.afterCode,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUri != null">
        image_uri = #{record.imageUri,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_imagebox
    set id = #{record.id,jdbcType=INTEGER},
      after_id = #{record.afterId,jdbcType=INTEGER},
      after_code = #{record.afterCode,jdbcType=VARCHAR},
      image_uri = #{record.imageUri,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleImagebox">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_imagebox
    <set>
      <if test="afterId != null">
        after_id = #{afterId,jdbcType=INTEGER},
      </if>
      <if test="afterCode != null">
        after_code = #{afterCode,jdbcType=VARCHAR},
      </if>
      <if test="imageUri != null">
        image_uri = #{imageUri,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleImagebox">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_imagebox
    set after_id = #{afterId,jdbcType=INTEGER},
      after_code = #{afterCode,jdbcType=VARCHAR},
      image_uri = #{imageUri,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>