<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamcom.framework.backstage.mapper.TbAftersaleProductMapper">
  <resultMap id="BaseResultMap" type="com.chinamcom.framework.backstage.model.TbAftersaleProduct">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="after_id" jdbcType="INTEGER" property="afterId" />
    <result column="after_code" jdbcType="VARCHAR" property="afterCode" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    id, after_id, after_code, product_code, product_name, device_code, sign_time, phone, 
    quantity, create_time, update_time, remark
  </sql>
  <select id="selectByExample" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleProductExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_aftersale_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    select 
    <include refid="Base_Column_List" />
    from tb_aftersale_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    delete from tb_aftersale_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleProductExample">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    delete from tb_aftersale_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleProduct">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    insert into tb_aftersale_product (id, after_id, after_code, 
      product_code, product_name, device_code, 
      sign_time, phone, quantity, 
      create_time, update_time, remark
      )
    values (#{id,jdbcType=INTEGER}, #{afterId,jdbcType=INTEGER}, #{afterCode,jdbcType=VARCHAR}, 
      #{productCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{deviceCode,jdbcType=VARCHAR}, 
      #{signTime,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleProduct">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    insert into tb_aftersale_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="afterId != null">
        after_id,
      </if>
      <if test="afterCode != null">
        after_code,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="deviceCode != null">
        device_code,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="afterId != null">
        #{afterId,jdbcType=INTEGER},
      </if>
      <if test="afterCode != null">
        #{afterCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleProductExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    select count(*) from tb_aftersale_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.afterId != null">
        after_id = #{record.afterId,jdbcType=INTEGER},
      </if>
      <if test="record.afterCode != null">
        after_code = #{record.afterCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null">
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceCode != null">
        device_code = #{record.deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.signTime != null">
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_product
    set id = #{record.id,jdbcType=INTEGER},
      after_id = #{record.afterId,jdbcType=INTEGER},
      after_code = #{record.afterCode,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      device_code = #{record.deviceCode,jdbcType=VARCHAR},
      sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      phone = #{record.phone,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleProduct">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_product
    <set>
      <if test="afterId != null">
        after_id = #{afterId,jdbcType=INTEGER},
      </if>
      <if test="afterCode != null">
        after_code = #{afterCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinamcom.framework.backstage.model.TbAftersaleProduct">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-11-09 13:35:22.
    -->
    update tb_aftersale_product
    set after_id = #{afterId,jdbcType=INTEGER},
      after_code = #{afterCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      device_code = #{deviceCode,jdbcType=VARCHAR},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>