/*忘记密码*/
.forgetpw{ width: 500px; margin:0 auto; padding:60px 0;}
.forgetpw li{ margin:20px 0;height: auto;
    overflow: hidden;}
.forgetpw li label{ display: inline-block; float: left; width: 90px; line-height: 35px;}
.forgetpw li input{ float: left;}
/*margin-right*/
.mr10{margin-right: 10px;}
.pwOgM{ margin:30px 175px;}


/*修改密码*/
.chPwd{padding: 15px 0px 15px 120px}
.chPwd li{ margin: 15px 0;}
.chPwd .btn_pd{ margin: 20px 0;}
.chPwd .btn_pd input{ margin-right: 25px;}

/*页脚*/
.footer{overflow: hidden; background: #fff; margin: 20px 0;}
.promise{ background: url(../images/promise.jpg) center center no-repeat; width: 100%; margin: 0 auto;  height:40px; padding: 40px 0;}
.ftLinks{ width: 1120px; margin: 0 auto; border-top:1px solid #ccc;padding: 30px 0;overflow: hidden; min-height: 210px;}
.ftLinks dl{ display: inline-block; float: left;  width: 25%; text-align: center;}
.ftLinks dl dt{ font-size: 16px; font-weight: bold; margin-bottom: 15px;}
.ftLinks dl dd{ line-height: 23px;}
.ftLinks dl dd a,.ftLinks dl dd a:link{ color:#868686;}
.ftLinks dl dd a:hover{ color:#fc581f;}
.hotLine{ font-size:30px;  color: #333; background: url(../images/icon.png) 70px -68px no-repeat; height: 32px;}

.wechat{ position: relative;}
.wechat:hover { display: block;}
.wCode{width: 140px;height: 150px;background: url(../images/weixin2code.png) no-repeat;position: absolute;top: 18px;left: 69px;}