<!-- 内容部分 -->
<div class="mainContent" ng-controller="AfterHandleListCtrl">
    <div class="mContent wbg pdd">
        <h1>客服受理售后请求列表</h1>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label>受理状态：</label>
                <select ng-model="status" class="form-control">
                    <option value="0">待受理</option>
                    <option value="1">已受理</option>
                    <option value="2">已完成</option>
                    <option value="3">已拒绝</option>
                </select>
            </div>&nbsp;
            <div class="form-group">
                <label>售后类型：</label>
                <select ng-model="type" class="form-control">
                    <option value="9">所有</option>
                    <option value="1">退货</option>
                    <option value="2">换货</option>
                    <option value="3">维修</option>
                </select>
            </div>&nbsp;
            <div class="form-group">
                <label for="code">售后编号：</label>
                <input type="text" ng-model="code" class="form-control" id="code" placeholder="请输入编号">
            </div>&nbsp;
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submitQuery();">查询</button>
                </div>
            </div>
        </form>
        <h4></h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>编号</th>
                <th>申请时间</th>
                <th>商品名称</th>
                <th>数量</th>
                <th>售后类型</th>
                <th>客户信息</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in waitHandleList">
                <td>{{item.aftercode}}</td>
                <td>{{item.applytime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{item.prodname}}</td>
                <td>{{item.total}}</td>
                <td>{{item.aftertype}}</td>
                <td>
                    <div>
                    <p>姓名：{{item.customer.name}}</p>
                    <p>电话：{{item.customer.phone}}</p>
                    <p>地址：{{item.customer.address}}</p>
                    </div>
                </td>
                <td>{{item.status}}</td>
                <td><a href="javascript:;" class="color0" ng-click="toHandle(item)">查看详情并受理</a></td>
            </tr>
            </tbody>
        </table>
        <!-- paging -->
        <div class="pagingContext" ng-if="waitHandleList.length">
            <ul class="pagination">
                <li ng-class="{true:'disabled'}[p_current==1]">
                    <a href="javascript:;" ng-click="Previous()">
                        <span>上一页</span>
                    </a>
                </li>
                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                    <a href="javascript:;" ng-click="selectPage(page)" >{{ page }}</a>
                </li>
                <li >
                    <a href="javascript:;" ng-click="Next()">
                        <span>下一页</span>
                    </a>
                </li>
                <span style="line-height: 35px;margin-left: 15px;">  共：{{datatotal}} 条  </span>
            </ul>
        </div>
    </div>

</div>
<!-- 内容部分 end -->
