<div ng-controller="LoginCtrl">
    <!-- 头部 登录注册 --> 
    <div class="top" style="position:relative; z-index:99">
        <div class="topMain">
            <div class="loginItem" ng-hide="nickname">
                <span class="logincs" data-toggle="modal" data-target="#login" ng-click="showLR('login')"><b ng-click="test()">登录</b></span>
                <span class="regcs" data-toggle="modal" data-target="#login" ng-click="showLR('regin')">注册</span>
            </div>
            <div class="user" ng-show="nickname">
                <a ui-sref="mycart" id="nickname">{{nickname}}</a>
                <a href="javascript:;" class="regcs" ng-click="logout()">退出</a>
            </div>

            <div class="cartItem" style="position: relative; cursor: pointer">
                <a class="cartItemi cartIcon" ng-click="toCartPage()">购物车 <span class="cartNum" ng-hide="isShow">({{cartLength}})</span></a>

            </div>
        </div>
    </div>
    <!-- 头部导航 div -->
    <div class="navDiv">
        <div class="navMain">
            <!-- logo -->
            <div class="logo"><a href="index.html"><img src="images/logo.png"/></a></div>
            <!-- 右侧导航 -->
            <ul>
                <li><a ui-sref="home">首页</a></li>
                <li class="mWatch"><a ui-sref="watches()">电话手表</a>
                </li>
                <li class="mHeadser"><a href="javascript:;">智能耳机</a>
                </li>
                <li style="display: none;"><a href="javascript:;">论坛</a></li>
                <li><a ui-sref="downapp">应用下载</a></li>
            </ul>
        </div>
    </div>
    <!-- 头部导航 end -->

    <!-- 登录框 -->
    <div class="modal fade bs-example-modal-lg" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div id="rightDisplay" ng-show="showRolls" class="popover-backdrop"  ng-click="hideShowRolls()">
            <div class="rolls" id="des">
                <a href="javascript:;" id="moreResults"></a>
                <h1>服务条款服务条款服务条款服务条款服务条款服务条款服务条款服务条款服务条款</h1>
            </div>
        </div>
        <div class="modal-dialog" style="width: 500px; margin: 30px auto;">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="logTitil">{{logTitil}}</h4>
                </div>
                <div class="modal-body">
                    <div class="tboxCont">
                        <form name="loginForm"  id="loginForm">
                            <div class="color1 js-error" style="padding-left:100px"></div>
                            <ul>
                                <li><span><em class="color1">*</em>手机号码：</span>
                                    <input type="text" placeholder="请输入11位手机号码" id="userPhone" class="txtbox w_300" ng-model="userPhone"  name="userPhone" minlength="11" maxlength="11"  required/>
                                   <p class="color0"></p>
                                </li>
                                <li ><span><em class="color1">*</em>密码：</span>
                                    <input type="password"placeholder="8-32位字符" id="userPwd" class="txtbox w_300" ng-model="userPwd" name="userPwd" minlength="6" maxlength="32"  ng-focus required />
                                       <p  class="color0"></p>
                                </li>
                                <li class="pl70 js_rem" style="height:30px">
                                    <label for="rebpwd" class="pay_list_c1 sel-this" ng-class="{active:rebpwd==true}" >

                                        <input type="checkbox" ng-model="rebpwd" id="rebpwd" class="checkboxclass" ng-change="remeberUser(userPhone)"/>  记住手机号码
                                    </label>
                                </li>
                            </ul>
                            <div class="btn_pd"><input type="button" id="login-btn"  class="btn btn_og" value="登 录"/></div>
                            <div class="forget">
                                <a href="javascript:;" class="color3" ng-click="showLR('regin')">注册新账号</a>
                                <a href="javazcript:;" ng-click="tofindpwd()" class="color0 logincs">忘记密码?</a>
                            </div>
                            <div class="otherLogin">
                                <a href="javascript:;" class="color1" ng-click="weiChat()" id="weiChat"></a>
                                <a href="javascript:;" ng-click="qqLogin()" id="qq"></a>
                                <a href="javascript:;" ng-click="sinaLogin()"></a>
                            </div>

                        </form>
                        <form name="userForm" novalidate  ng-submit="addUsers(reginU)" id="userForm">
                            <div class="color1 js-error" style="padding-left:100px"></div>
                            <ul class="row">
                                <li><span><em class="color1">*</em>手机号码：</span>
                                    <input type="text" placeholder="请输入11位手机号码" class="txtbox w_300 phone" ng-model="reginU.phone"  name="phone" minlength="11" maxlength="11" ng-focus ng-pattern="/^(((13[0-9]{1})|159|153)+\d{8})$/" required/>
                                    <div class="form-error" ng-show="(userForm.phone.$invalid && userForm.phone.$dirty && !userForm.phone.$focused) || (userForm.phone.$invalid && submitted )">
                                        <p ng-show="userForm.phone.$error.required" class="color0">请输入11位手机号码</p>
                                        <p ng-show="userForm.phone.$error.pattern" class="color0">请输入正确的手机号码</p>
                                    </div>
                                </li>
                                <li><span><em class="color1">*</em>验证码：</span>
                                    <input type="text" placeholder="4位验证码"class="txtbox w_188" ng-model="reginU.code" name="code" minlength="4" maxlength="4" ng-focus ng-pattern="/^[a-zA-Z0-9\u0391-\uFFE5]{4,4}$/ " required/>

                                    <button type="button" class="btn sm_btn font_14" style="*padding-left:0; *padding-right:0" ng-click="getCode(reginU.phone)" ng-disabled="paraevent" ng-class="paraclass">{{paracont}}</button>
                                    <div class="form-error" ng-show="(userForm.code.$invalid && userForm.code.$dirty && !userForm.code.$focused) || (userForm.code.$invalid && submitted )">
                                        <p ng-show="userForm.code.$error.required" class="color0">请输入正确验证码</p>
                                        <p ng-show="userForm.code.$error.pattern" class="color0">4个字符，可由中文、字母和数字组成</p>
                                    </div>
                                </li>
                                <li><span><em class="color1">*</em>密码：</span>
                                    <input type="password" placeholder="8-32位字符" class="txtbox w_300 pwd" ng-model="reginU.pwd" name="pwd" minlength="8" maxlength="32" ng-focus ng-pattern="/^[a-zA-Z0-9\u0391-\uFFE5]{8,32}$/ " required />
                                    <div class="form-error" ng-show="(userForm.pwd.$invalid && userForm.pwd.$dirty && !userForm.pwd.$focused) || (userForm.pwd.$invalid && submitted )">
                                        <p ng-show="userForm.pwd.$error.required" class="color0">请输入密码</p>
                                        <p ng-show="userForm.pwd.$error.pattern" class="color0">8-32个字符，可由中文、字母和数字组成</p>
                                    </div>
                                </li>
                                <li><span><em class="color1">*</em>确认密码：</span><input type="password" placeholder="请重复输入您的密码" class="txtbox w_300" name="pwd2" ng-model="reginU.pwd2" minlength="8" maxlength="32" ng-focus ng-pattern="/^[a-zA-Z0-9\u0391-\uFFE5]{8,32}$/ " required/>
                                    <div class="form-error" ng-show="(userForm.pwd2.$invalid && userForm.pwd2.$dirty && !userForm.pwd2.$focused) || (userForm.pwd2.$invalid && submitted )">
                                        <p ng-show="userForm.pwd2.$error.required" class="color0">两次输入的密码必须一致</p>
                                        <p ng-show="userForm.pwd2.$error.pattern" class="color0 pwd2">两次输入的密码必须一致</p>
                                    </div>
                                </li>
                                <li>
                                    <p class="pl70" style="height:30px; padding-bottom:0; margin-bottom:0">
                                        <label><input type="checkbox" name="protocol" ng-model="protocol" required /> 阅读并同意入网服务协议</label><a href="javascript:;" class="color1" ng-click="hellos()">服务条款、隐私政策</a>
                                    </p>
                                    <p class="color0" ng-show="!protocol && submitted">请先同意协议</p>
                                </li>

                            </ul>
                            <div class="text-center"> <input type="submit" value="立即注册" class="btn btn_og" /></div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 登录框 end -->


</div>