
<!-- 内容部分 -->
<div class="main-content" ng-controller="orderPayCtrl" data-ng-init="init()">
	
	<div class="mContent wbg">
		
		<div class="pCollect">
			<h1>收银台：</h1>
			<div class="pcollectMsg">
				<p>订单已提交成功，请您尽快付款!</p>
				<h3>实付金额：¥{{total| number:2}}</h3>
				<span>您的订单编号：2038183893929 <a href="javasript:;" class="color3" ng-click="orderdetail()">订单详情</a></span>
			</div>

			<ul id="Iradio">
				<li>

					<label>
						<img src="images/dunchecked_gr1.png" class="radio_img">
						<input class="input_radio" type="radio" name="payType" value="中国银联" ng-model="payType" />
						<img src="images/up.png" class="bank" />
						<span>中国银联</span>
					</label>
				</li>
				<li>
					<label>
						<img src="images/dunchecked_gr1.png" id="" class="radio_img">
						<input class="input_radio" type="radio" name="payType" value="支付宝" ng-model="payType" />
						<img src="images/ac.png"class="bank" />
						<span>支付宝</span>
					</label>
				</li>
			</ul>
			<div class="btn_pd">
					<button type="button" class="btn btn_og" ng-click="orderPay(payType)">确认支付</button>
			</div>
		</div>

		<!-- 订单详情 -->
		<div class="paydetail_open jsAddress" style="width:auto; display: none; margin-top:20px">
			<div class="paydetail_msg">
				<ul>
					<li><label>收件姓名：</label>fffff</li>
					<li><label>购买名称：</label>fffff</li>
					<li><label>购买数量：</label>fffff</li>
					<li><label>交易金额：</label>fffff</li>
					<li><label>收货地址：</label>fffff</li>
				</ul>
			</div>
		</div>
		<!-- 订单详情 end-->
	</div>
</div>
<!-- 内容部分 end -->

<script>
	(function(){
		// 单选按钮事件
		$("#Iradio li").on("click",function(){
			$(".radio_img").attr("src", "images/dunchecked_gr1.png")
			$(this).find(".radio_img").attr("src", "images/dchecked_gr1.png");
			$("#dfd").attr("disabled",false); //设置disabled为false
		})
	})();
</script>
