<!--子菜单-->
<div ng-controller="ProductCtrl">

    <!-- 内容部分 -->
    <div class="main-content">
        <div class="mContent wbg">
            <!--产品价格-->
            <ul class="contMain">
                <li class="leftInfo leftIimgA" ng-repeat="item in watchModel" style="width:100%" ng-click="toproduct(40,item)">
                    <div class="title">
                        <h5>{{item.name}}</h5>
                    </div>
                    <span style="color: #fc581f; font-size: 30px;   display: block;">即将发售</span>
                </li>
            </ul>
            <div style="padding:0 20px; border-top:1px #ccc solid;display: none">
                <div ng-include="currentTab"></div>
            </div>
            <!--产品价格 end-->
            <!--产品说明-->
            <div style="display: none">
                <ul class="tabList" style="border:1px #ccc solid; overflow: auto">
                    <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
                </ul>
                <div class="clearF"></div>
                <div id="mainView" style="padding:50px">
                    <div ng-include="currentTab"></div>
                </div>
            </div>
            <!-- 购买  Modal -->
            <div class="modal fade bs-example-modal-lg" id="tocart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" hidden>
                <div class="modal-dialog" style="width: 800px; margin: 30px auto;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{names}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="newadd_msg" style="position: relative">
                                <div class="tocartform">
                                    <img src="images/slides/index_08.jpg" class="productIMG"/>
                                    <ul>
                                        <li><span style="width:100px">价格：</span><em class="color0" style="font-size:26px">￥{{prices}}</em></li>
                                        <li><span>选择型号：</span>
                                            <em class="sel">
                                                <label ng-repeat="p in watchList"><input type="radio" value="{{p.model}}" ng-change="radioChange(p.code)" ng-model="pType" name="pType" /> {{p.model}}</label>
                                            </em>
                                        </li>
                                        <li><span>选择颜色：</span>
                                            <label class="proRadio" ng-class="{selected:selected==$index}" ng-repeat="s in watchList">
                                                <input type="radio"  ng-model="pColor" name="pColor" value="{{s.color}}" ng-change="radioChange(s.code)">{{s.color}}</label>
                                            </label>
                                        </li>
                                        <li><span>购买数量：</span>
                                            <button type="button" ng-click = "minusCount()" class="btn" ng-disable = "itemcount = 1">-</button>
                                            <input type="text" class="txtbox" ng-model="itemcount" style="width:50px"/>
                                            <button type="button" ng-click = "addCount()" class="btn">+</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn sm_btn" ng-click="addToCart('tocart')">加入购物车</button>
                                            <button type="button" class="btn btn_og sm_btn topay" ng-click="goBuy()">立即购买</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容部分 end -->

</div>

