<!-- 内容部分 -->
<div class="mainContent" ng-controller="SecondServiceCtrl">
	<div class="mContent wbg pdd">
		<!--
		<div ng-include="'templete/common/ordermenu.html'"></div>
		-->
		<h1>再次申请售后</h1>
		<div class="panel panel-default">
			<div class="detailNum margin-top-4x" style="text-align: left">
				<label>售后服务编号：</label>
				<span>{{sdetaildata.aftercode}}</span>
				<span></span>
				<label>售后类型：</label>
				<span ng-show="sdetaildata.aftertype==1">退货</span>
				<span ng-show="sdetaildata.aftertype==2">换货</span>
				<span ng-show="sdetaildata.aftertype==3">维修</span>
				<span></span>
				<label>处理状态：</label>
				<span ng-show="sdetaildata.status==0">待受理</span>
				<span ng-show="sdetaildata.status==1">待邮寄</span>
				<span ng-show="sdetaildata.status==2">处理中</span>
				<span ng-show="sdetaildata.status==3">售后完成</span>
				<span ng-show="sdetaildata.status==4">关闭</span>
				<span ng-show="sdetaildata.status==5">待补充</span>
				<span></span>
				<label>账号：</label>
				<span>{{username}}</span>
			</div>
			<span></span>
			<div class="detailBarMsg">
				<ul>
					<li>
						<span class="color0">待受理</span>
						<p>{{sdetaildata.applytime | date:'yyyy-MM-dd' }}<br/>{{sdetaildata.applytime | date:'HH:mm:ss'}}</p>
					</li>
					<li ng-repeat="d in sdetaildata.replyResult | orderBy:'createTime'">
						<span class="color0" ng-show="d.to==1">待邮寄</span>
						<span class="color0" ng-show="d.to==2">处理中</span>
						<span class="color0" ng-show="d.to==3">售后完成</span>
						<span class="color0" ng-show="d.to==4">关闭</span>
						<span class="color0" ng-show="d.to==5">待补充</span>
						<p>{{d.createTime | date:'yyyy-MM-dd' }}<br/>{{d.createTime | date:'HH:mm:ss'}}</p>
					</li>
				</ul>
			</div>
		</div>
		<h2 class="page-header" style="margin: 5px auto">商品信息</h2>
		<div class="tablearea tablewd">
			<table width="100%" border="0" cellspacing="0">
				<tr>
					<th style="width: 40%">商品名称</th>
					<th>单价（元）</th>
					<th>数量</th>
					<th>总金额（元）</th>
					<th>订单编号</th>
				</tr>
				<tr>
					<td>
						<div class="pro-img">
							<img src="images/3/3C40A100010001.png">
							<p class="pr-msg">
								<span>{{sdetaildata.prodname}}</span><br/>
								<span>型号：{{sdetaildata.prodcode |prodType}}</span><br/>
								<span>颜色：{{sdetaildata.prodcode |prodColor}}</span>
							</p>
							<p class="pr-msg" style="display: none">
								<span>设备编号：{{pr.deviceCode}}</span><br/>
								<span>手机号码：{{pr.phone}}</span>
							</p>
						</div>
					</td>
					<td>{{sdetaildata.prodprice}}</td>
					<td>{{sdetaildata.total}}</td>
					<td>{{sdetaildata.prodprice*sdetaildata.total}}</td>
					<td>{{sdetaildata.ordercode}}</td>
				</tr>
			</table>
		</div>
		<div ng-show="sdetaildata.aftertype!=1">
			<h2 class="page-header">收货人信息</h2>
			<div class="infoMsg clearfix">
				<div class="lf infoMsg-new" style="position: relative">
					<dl>
						<dt style="display: none">{{sdetaildata.logistics.express}}</dt>
						<dt>姓 名：{{sdetaildata.logistics.name}}</dt>
						<dd>联系电话：{{sdetaildata.logistics.phone}}</dd>
						<dd>地 址：{{sdetaildata.logistics.provname}}{{sdetaildata.logistics.cityname}}{{sdetaildata.logistics.areaname}}{{sdetaildata.logistics.address}}</dd>
						<dd>邮 编：{{sdetaildata.logistics.zipcode}}</dd>
					</dl>
				</div>
				<div class="infoMsg-new rt">
					<a class="ad" href="javascript:;" data-toggle="modal" data-target="#address">使用新地址</a>
				</div>
				<div class="modal fade bs-example-modal-lg" id="address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="width: 800px; margin: 30px auto;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="myModalLabel">新增地址</h4>
							</div>
							<div class="modal-body">
								<div class="newadd_msg">
									<form name="addressForm" novalidate="novalidate" class="addressForm" ng-submit="addAddress(addressitem)">
										<ul>
											<li><label>收件人姓名：</label><input type="text" class="txtbox1 txt_w280" ng-model="addressitem.name" name="name" minlength="2"
												 maxlength="20" ng-focus ng-pattern="/^[a-zA-Z0-9\u0391-\uFFE5]{2,20}$/ " required/>
												<div class="form-error" ng-if="(addressForm.name.$invalid && addressForm.name.$dirty && !addressForm.name) || (addressForm.name.$invalid && submitted )">
													<span ng-show="addressForm.name.$error.required" class="color0">收件人姓名不能为空</span>
													<span ng-show="addressForm.name.$error.pattern" class="color0">2-20个字符，可由中文、字母和数字组成</span>
												</div>

											</li>
											<li class="add_areaList"><label>所在地区：</label><select required class="txtbox1 txt_w196" name="provname" ng-model="addressitem.provname"
												 ng-options="key as key for (key,value) in division" ng-change="addressitem.cityname='';addressitem.areaname='';">
											<option value="">请选择省</option>
										</select>
												<select class="txtbox1 txt_w196" ng-model="addressitem.cityname" name="cityname" ng-options="key as key for (key,value) in division[addressitem.provname]"
												 ng-change="district='';" required>
												<option value="">请选择市</option>
											</select>
												<select class="txtbox1 txt_w196" name="areaname" ng-model="addressitem.areaname" ng-options="value as value for value in division[addressitem.provname][addressitem.cityname]"
												 required>
												<option value="">请选择区</option>
											</select>
												<div class="form-error" ng-show="(addressForm.province.$invalid && addressForm.province.$dirty) || (addressForm.province.$invalid && submitted )">
													<span ng-show="addressForm.province.$error.required" class="color0">所在地区不能为空</span>
												</div>

											</li>
											<li><label>详细地址：</label><input type="text" class="txtbox1 txt_w740" style="width:600px;" ng-model="addressitem.address"
												 name="address" required />
												<div class="form-error js_address1" ng-show="(addressForm.address.$invalid && addressForm.address.$dirty && !addressForm.address.$focused) || (addressForm.address.$invalid && submitted)">
													<span ng-show="addressForm.address.$error.required" class="color0">详细地址不能为空</span>
												</div>

											</li>
											<li><label>手机号码：</label><input type="text" class="txtbox1 txt_w280" ng-model="addressitem.phone" name="phone" maxlength="11"
												 ng-pattern="/^(((13[0-9]{1})|159|153)+\d{8})$/" required/>
												<div class="form-error js_phone" ng-show="(addressForm.phone.$invalid && addressForm.phone.$dirty && !addressForm.phone.$focused) || (addressForm.phone.$invalid && submitted )">
													<span ng-show="addressForm.phone.$error.required" class="color0">手机号不能为空</span>
													<span ng-show="addressForm.phone.$error.pattern" class="color0">请输入正确的手机号码</span>
												</div>
											</li>
											<li><label>邮政编码：</label><input type="text" class="txtbox1 txt_w280 " maxlength="6" ng-model="addressitem.zipcode"
												 name="zipcode" ng-pattern="/^[\d]{6}$/" required/>
												<div class="form-error js_zipcode" ng-show="(addressForm.zipcode.$invalid && addressForm.zipcode.$dirty && !addressForm.zipcode.$focused) || (addressForm.zipcode.$invalid && submitted )">
													<span ng-show="addressForm.zipcode.$error.required" class="color0">邮政编码不能为空</span>
													<span ng-show="addressForm.zipcode.$error.pattern" class="color0">请输入邮政编码</span>
												</div>
											</li>
											<li style="padding-left:100px">
												<label class="pay_list_c1" ng-class="{active:addressitem.status==1}" style="width:auto">
												<input type="checkbox" ng-model="addressitem.status"  class="checkboxclass" name="status" />  设为默认地址
											</label>
											</li>
										</ul>
										<div class="jsaddrName"></div>
										<div class="text-center margin-top-2x">
											<button type="submit" class="btn btn-og margin-right-2x">保存</button>
											<button type="button" class="btn btn-gray" ng-click="cancel()">取消</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h2 class="page-header" style="margin: 5px auto">上传照片</h2>
		<div class="choice-list">
			<ul class="font-20 clearfix">
				<li ng-hide="pic0">
					<label>点击上传照片
						<input type="file" accept="image/jpeg,image/jpg,image/png,image/x-png,image/gif" multiple="multiple" file-model="images"
							   onchange="angular.element(this).scope().img_upload(this.files);angular.element(this).scope().hidenOne(1);"/>
					</label>
				</li>
				<li ng-hide="!pic0">
					<span ng-if="thumb[0].imgSrc" ng-click="img_del(0);hidenOne(0);">{{thumb[0].length}}</span>
					<div><img ng-src="{{thumb[0].imgSrc}}" /></div>
				</li>
				<li ng-hide="pic1">
					<label>点击上传照片
						<input type="file" accept="image/jpeg,image/jpg,image/png,image/x-png,image/gif" multiple="multiple" file-model="images" 
						       onchange="angular.element(this).scope().img_upload(this.files);angular.element(this).scope().hidenTwo(1);"/>
					</label>
				</li>
				<li ng-hide="!pic1">
					<span ng-if="thumb[1].imgSrc" ng-click="img_del(1);hidenTwo(0);">{{thumb[1].length}}</span>
					<div><img ng-src="{{thumb[1].imgSrc}}" /></div>
				</li>
				<li ng-hide="pic2">
					<label>点击上传照片
						<input type="file" accept="image/jpeg,image/jpg,image/png,image/x-png,image/gif" multiple="multiple" file-model="images" 
							onchange="angular.element(this).scope().img_upload(this.files);angular.element(this).scope().hidenThree(1);"/>
					</label>
				</li>
				<li ng-hide="!pic2">
					<span ng-if="thumb[2].imgSrc" ng-click="img_del(2);hidenThree(0);">{{thumb[2].length}}</span>
					<div><img ng-src="{{thumb[2].imgSrc}}" /></div>
				</li>
			</ul>
			<div>
				<p style="color:#ff0000;">说明：最多上传3张照片，支持jpg、gif、png、bmp格式，每张大小不超过2M</p>
			</div>
		</div>
		<div>
			<h2>其他信息</h2>
			<div class="panel panel-default">
				<div class="panel-body">
					<div ng-show="sdetaildata.aftertype==1">
						<span>请选择退货原因：</span>
						<select class="form-control formControl" style="height:auto" ng-model="reason">
			  					<option value ="七天无理由退货">七天无理由退货</option>
			  					<option value ="商品错发/漏发">商品错发/漏发</option>
			  					<option value ="商品质量问题">商品质量问题</option>
						</select>
					</div>
					<br>
					<div class="selects" ng-show="sdetaildata.aftertype!=1">请选择售后产品：
						<label>
								<input  type="checkbox" name="productType" ng-true-value="1" ng-false-value="0" ng-model="producttype.v1"/>
								<span>智能手表</span>  
							</label>
						<label>
								<input type="checkbox" name="productType" ng-true-value="1" ng-false-value="0" ng-model="producttype.v2"/>
								<span>耳机</span>  
							</label>
						<label>
								<input type="checkbox" name="productType" ng-true-value="1" ng-false-value="0" ng-model="producttype.v3"/>
								<span>数据线</span>  
							</label>
						<label>
								<input type="checkbox" name="productType" ng-true-value="1" ng-false-value="0" ng-model="producttype.v4"/>
								<span>充电器</span>
							</label>
						<label>
								<input  type="checkbox" name="productType" ng-true-value="1" ng-false-value="0" ng-model="producttype.v5"/>
								<span>配件</span>
							</label>
					</div>
					<br>
					<div>
						<div>请填写售后原因：</div>
						<div>
							<textarea class="textarea" id="baidu_translate_input" data-height="140" style="height: 140px;" ng-model="remark" ng-change="checkText()"></textarea>
						</div>
						<span style="color: #ff0000;">您还可以输入{{textLen}}字</span>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="sdetaildata.replyResult">
			<h2>客服反馈</h2>
			<div class="panel panel-default">
				<div class="table-responsive">
					<table class="table table-bordered">
						<tr ng-repeat="r in sdetaildata.replyResult">
							<td>
								<label>售后结果反馈（{{r.createTime|date:"yyyy-MM-dd HH:mm:ss"}}）：</label>
								<p style="margin-left: 100px;">{{r.reply}}</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="text-center"><button type="button" class="btn btn-og" ng-click="submitRes()">提交服务单</button></div>
	</div>
</div>
<!-- 内容部分 end -->